.platformHeader{
  position: relative;
  width: calc(100vw - 20%);
  margin: 70px auto 30px;
  padding: 0 10px 5px;
  display: flex;
  align-content: center;
  justify-content: space-around;
  border-bottom: 1px solid #969696;
}
.platforms{
  display: flex;

}
.logoImg{
  max-width: 30px;
  height: 30px;
}

.logoPlatform{
  color: rgba(255, 255, 255, 0.83);
  padding-left: 10px;
  font-size: 0.8rem;
  line-height: 30px;
  font-weight: 400;
}