.platformHeader{
  position: relative;
  width: calc(100vw - 15%);
  margin: 90px auto 20px;
  display: flex;
  align-content: left;
  justify-content: flex-start;
}
.platforms{
  display: flex;
}
.logoImg{
  max-width: 30px;
  height: 30px;
}

.logoPlatform{
  color: rgba(255, 255, 255, 0.83);
  padding-left: 10px;
  font-size: 1.3rem;
  line-height: 30px;
  font-weight: 800;
}