
.signUpWrapper{
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.registerTitle{
  margin-bottom: 70px;
  font-weight: 800;
  font-size: 1.2rem;
}
.signUpInputWrapper form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}
.signUpInputWrapper form input{
  margin-bottom: 17px;
}
.signUpInputWrapper form button{
  width: 300px;
  height: 40px;
  background: inherit;
  color: #969696;
  border: 2px solid #777676;
  border-radius: 30px;
  margin-top: 15px; 
  margin-bottom: 15px;
}
.signUpInputWrapper form button:focus{
  color: rgba(255, 255, 255, 0.83);
  border: 2px solid rgba(255, 255, 255, 0.83);
  transition: all 0.6s
}
.signUpInputWrapper form button:enabled{
  color: rgba(255, 255, 255, 0.83);
  border: 2px solid rgba(255, 255, 255, 0.83);
}

.confirm {
  margin-top: -7px;
  margin-bottom: 23px;
  color: #969696;
  font-size: 0.6rem;
}


.signUpInputWrapper label{
  color: #969696;
  font-size: 0.6rem;
  margin-left: 30px;
  margin-bottom: 5px;
  width: 300px;
  text-align: left;
}
.signUpInputWrapper label:focus{
  color: rgba(255, 255, 255, 0.83);
  font-size: 0.8rem;
  margin-bottom: 5px;
}


.signUpInputWrapper input{
  padding: 10px;
  width: 300px;
  height: 40px;
  background: #000;
  color: #969696;
  border: 2px solid #777676;
  border-radius: 30px;
}

.signUpInputWrapper input:focus{
  background: rgba(0, 0, 0, 0.83);
  color: rgba(255, 255, 255, 0.83);
  border: 2px solid rgba(255, 255, 255, 0.83);
  transition: all 0.6s;
}

.styles.success{
  color: rgba(255, 255, 255, 0.83);
}