.button{
  border: none;
  box-shadow: none;
  background: none ;
  font-size: 14px;
  padding: 5px 10px;
  border-radius: 6px;
  color: #fff;
}

.button:hover{
  border: 1px solid #d0d7de;
}

.selected{
  background: #0969da;
  color: #fff;
}

/* .disabled{
  color: #8c959f;
  pointer-events: none;
} */

.whiteButton{
  color: #fff;
}
.whiteButton:disabled{
  color: #8c959f;
}
.whiteButton:disabled:hover{
  border: none;
}