.genreTabWapper{
  position: relative;
  width: calc(100vw - 20%);
  margin: 70px auto 30px;
  padding: 0 10px 5px;
  display: flex;
  align-content: center;
  justify-content: space-around;
  border-bottom: 1px solid #969696;
}

.genreTabWapper button{
  font-size: 0.9em;
  color:#969696;
  font-weight: 600;
  cursor: pointer;
}
.genreTabWapper button:hover{
  color: #fff;
  transition: all 0.6s;
}
.genreTabLink :hover{
  color: #fff;
  transition: all 0.6s;
}