.genreTabWapper{
  position: relative;
  width: calc(100vw - 20%);
  margin: 75px auto 0;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  display: flex;
  align-content: center;
  justify-content: space-around;
  font-size: 0.9em;
  color:#969696;
  font-weight: 600;
  border-bottom: 1px solid #969696;
}