.inputWrapper{
  width: calc(100vw - 40%);
  margin: 0 auto;
}
.inputHeader{
  margin-top: 130px;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}
.header{
  font-weight: 800;
  font-size: 1.4rem;
}
.description{
  font-weight: 600;
  margin-top: 4px;
  font-size: 1.1rem;
  color: rgba(255,255,255,0.8);

}

.form{
  margin: 40px auto;
  position: relative;
  transition: all 1s;
  width: 200px;
  height: 50px;
  border-radius: 25px;
  padding: 5px;
  background: rgba(255,255,255,0.8);
}
.searchInput{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  line-height: 30px;
  outline: 0;
  border: 0;
  display: none;
  font-size: 1rem;
  border-radius: 25px;
  padding: 0 15px;
  background: inherit;
  color: #000;
}
.form i{
  box-sizing: border-box;
  padding: 14px;
  position: absolute;
  top: 0;
  right: 0;
  color: #07051a;
  text-align: center;
  font-size: 1.3em;
  transition: all 1s;
}

.form:hover,
.form:valid{
    width: 100%;
    cursor: pointer;
}
.form:hover input,
.form:valid input{
    display: block;
}