.navWrapper{
  position: fixed;
  display: flex;
  left: 0;
  top: 0;
  padding : 20px 0px;
  justify-content: space-between;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 0.8em;
  width: 100vw;
  height: auto;
  background: inherit;
  color: #969696;
  z-index: 999;


}
.navWrapper:hover{
  background: #000;
  transition: all 0.6s;
}


.navLogo{
  padding-left: 10px;
}
.navTabs{
  display: flex;
  width: calc(100vw - 70%);
  justify-content: space-between;
}

.loginTab{
  padding-right: 10px;
}

.cursor{
  cursor: pointer;
}

.cursor:hover{
  color: #fff;
  transition: all 0.6s;
}