.navWrapper{
  position: fixed;
  display: flex;
  left: 0;
  top: 0;
  /* padding : 20px 0px; */
  justify-content: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 0.8em;
  width: 100vw;
  height: auto;
  background: inherit;
  color: #969696;
  z-index: 999;
}
.navWrapper:hover{
  background: #000;
  transition: all 0.6s;
}

.navLogo{
  position: absolute;
  left: 0;
}
.navLogo img{
  width: 32px;
  margin-left: 15px;
  margin-top: 10px;

}

.navTabs, .loginTab{
  padding: 20px 0;
}
.navTabs{
  display: flex;
  width: calc(100vw - 70%);
  justify-content: space-between;
}

.loginTab{
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  padding-right: 10px;
}

.cursor{
  cursor: pointer;
}

.cursor:hover{
  color: #fff;
  transition: all 0.6s;
}

.searchWrapper{
  margin-right: 10px;
}
.searchWrapper i{
  font-size: 1.05rem;
}